<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://bootswatch.com/4/solar/bootstrap.css"
      rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Flask-Notes</a>
        <div class="container-fluid">
            {% if session['user'] %}
            
            <form class='ml-auto' action='/logout' method='POST'>
              <button class="btn btn-secondary ml-auto" type="submit">Logout</button>
            </form>
            {% else %}
            <button 
                class="btn btn-secondary ml-auto" 
                onclick="window.location.href='/login';">Login
            </button>
            {% endif %}
        </div>
    </nav>
    
    <div class = "container">
        {% block content %}
        {% endblock %}    
    </div>
</body>
</html>