{% extends 'base.html' %}

{% block content %}

<form method='POST'>
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label (class_="form-label mt-4") }}
        {{ field (class_="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
<button class="btn btn-primary" type="submit" id="edit-note">Edit Note</button>
</form>


{% endblock %}  