{% extends 'base.html' %}

{% block content %}

<br>
<h2 class="display-4">Hello, {{ user.first_name }} {{ user.last_name }}</h2>
<h6 class="display-6">Username: {{ user.username }}</h6>
<h6 class="display-6">Email: {{ user.email }}</h6>

<br>
<h2 class="display-4">Notes</h2>
<ul>
    <!-- TODO: add links to edit/delete each note -->
    {% for note in user.notes %}
        <li>
        <form>
            <a href="/notes/{{note.id}}/update"><i class="fas fa-edit"></i></a>
            
            {{ note.title }}
            
            <button formaction="/notes/{{note.id}}/delete"
                formmethod="POST"
                style = "background: none; border: none; color:#cb4b16;">
                <i class="fas fa-trash"></i>
            </button>
        </form>
        </li>
        
    {% endfor %}
</ul>

<form>
    <button 
        formaction="/users/{{user.username}}/notes/add" 
        class="btn btn-primary"
        formmethod="GET"
        >
        Create note
    </button>
    
    <button 
        formaction="/users/{{user.username}}/delete" 
        class="btn btn-warning"
        formmethod="POST"
        >
        DELETE USER
    </button>
</form>
<!-- TODO: add button to delete user account and notes -->


{% endblock %}  